version: '3.8'

services:
  aspcore-webapi:
    build:
      context: ./AspCoreWebAPI
      dockerfile: Dockerfile
    ports:
      - "6000:8080"
      - "6001:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080;https://+:8081
    depends_on:
      - postgres_db
    networks:
      - app-network

  postgres_db:
    image: postgres:15
    environment:
      POSTGRES_DB: aspcore_webapi_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  blazor-ui:
    build:
      context: ./SEP3_T1_BlazerUI/BlazorApp1
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
